<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header', { title: 'Home' }) %>
    <h1>TRAVEL</h1>
   <center><p></p>
    <img src="/images/travel.jpg" alt="Description of city"></center> 
  </body>
</html>
