<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('header', { title: 'TRAVEL CITY' }) %>
    <h1>NEWYORK</h1>
    <p> New York City has more than 2,000 arts and cultural organizations and more than 500 art galleries. The city government funds the arts with a larger annual budget than the National Endowment for the Arts. The city is also home to hundreds of cultural institutions and historic sites. </p>
</body>
</html>
