<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aamir Khan</title>
</head>
<body>
    
    <%- include('header', { title: 'TRAVEL CITY' }) %>
    <h1>PARIS</h1>
    <p>Paris was originally a Roman City called “Lutetia” Having conquered the city of Parisii in 52 BC, the Romans who had been trading along the river, changed the name from Parissi to Lutetia. This and many others are some of the interesting nicknames for Paris.</p>
</body>
</html>
