<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <%- include('header', { title: 'TRAVEL CITY' }) %>
</head>
<body>
    
    <h1>ROME</h1>
<p>Rome has been the capital of the Roman Kingdom, Roman Republic, Roman Empire, Papal States, Kingdom of Italy, and from 1946 to the present, the Italian Republic. Rome is the 4th most populous city in the European Union, with 2.8 million people living within the city limits.</p>
</body>
</html>
