<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKYO</title>
</head>
<body>
 
    <%- include('header', { title: 'TRAVEL CITY' }) %>
    <h1>TOKYO</h1>
    <p>Tokyo is the capital city of Japan, and the biggest city in Japan in terms of population and area. Tokyo is located roughly in the middle of the Japanese archipelago facing the Pacific Ocean.</p>
</body>
</html>
